<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<nav>
<div>
<p class="userinfo">
{% if 'user' in session %}
  Uživatel: {{session['user']}}
{% else %}
  Nikdo není přihlášen
{% endif %}
</p>

<p class="logout">
<a href="{{ url_for('logout') }}">Logout</a>
</p>

{% for category, message in get_flashed_messages(with_categories=true) %}
  <p class="userinfo {{ category }}">{{ message }}</p>
{% endfor %}

</div>
  
  <ul>
    <li><a href="{{ url_for('scitani') }}">Sčítání</a></li>
    <li><a href="{{ url_for('odecitani') }}">Odečítání</a></li>
    <li><a href="{{ url_for('nasobeni') }}">Násobení</a></li>
    <li><a href="{{ url_for('login') }}">Login</a></li>
    
    
  </ul></nav>


{% block obsah %}

<h2>Login</h2>
<form method="post">
<p> jmeno: <input type="text"     name="jmeno" placeholder="jmeno"/> </p> 
<p> heslo: <input type="password" name="heslo" placeholder="jSi976jc." /> </p>
<p> <input type="submit" value="Přihlásit se" /> </p>
</form>

<footer>
{#{% filter markdown %}#}
Užitečné odkazy: 

* <a href="https://www.jakpsatweb.cz/html/">HTML</a>, 
* <a href="https://www.jakpsatweb.cz/css/">CSS</a>, 
* <a href="http://docs.python.org">Python</a>, 
* <a href="https://flask.palletsprojects.com/">Flask</a>, 
* <a href="https://jinja.palletsprojects.com/templates/">Jinja2</a>

{#{% endfilter %}#}
</footer>
{% endblock obsah %}