<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>{%block title%}Odečítání{%endblock%}</title>
</head>
<a href="https://cs.wikipedia.org/wiki/Od%C4%8D%C3%ADt%C3%A1n%C3%AD"><img src="{{ url_for('static', filename='minus.png') }}" /></a>
<nav>
  
  <ul>
    <li><a href="{{ url_for('scitani') }}">Sčítání</a></li>
    <li><a href="{{ url_for('odecitani') }}">Odečítání</a></li>
    <li><a href="{{ url_for('nasobeni') }}">Násobení</a></li>
  </ul></nav>

{% block obsah %}

<h1>Odečítání</h1>

<form method = "get">
<input type = 'text', name = 'x', value = '', placeholder = 'Číslo x'>
-
<input type = 'text', name = 'y', value = '', placeholder = 'Číslo y'>
<input type = 'submit', name = 'odecti', value = 'Odečti!'>
</form>
<p>Výsledek : {{z}}</p>
<a href="http://127.0.0.1:54321/odecitani/">Vymazat výsledek </a>

{% endblock obsah %}
<footer>
{#{% filter markdown %}#}
Užitečné odkazy: 

* <a href="https://www.jakpsatweb.cz/html/">HTML</a>, 
* <a href="https://www.jakpsatweb.cz/css/">CSS</a>, 
* <a href="http://docs.python.org">Python</a>, 
* <a href="https://flask.palletsprojects.com/">Flask</a>, 
* <a href="https://jinja.palletsprojects.com/templates/">Jinja2</a>

{#{% endfilter %}#}
</footer>